.validationError {
  margin-left: 0.5em;
  margin-bottom: 0.1em;
  margin-right: 0;
  color: #d41e5b;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar-nav > .active > a {
  text-decoration: none !important;
  color: white !important;
}

.nav > a {
  text-decoration: none !important;
  color: white !important;
}

.bg-light {
  background-color: #3f51b5 !important;
}

.form-inline .form-control {
  background-color: #6f7dc8;
  border: 1px solid#6f7dc8 !important;
  color: white !important;
}

::placeholder {
  color: #ced4da !important;
}

input .search-query {
  color: white !important;
}

.navbar {
  background-color: #3f51b5;
}

.nav {
  background-color: #3f51b5;
  padding: 0.5em;
}

.btn-secondary {
  background-color: #6f7dc8 !important;
  margin-right: 1rem;
  border: 1px solid#6f7dc8 !important;
}

.nav-link {
  color: #fff;
  margin-left: 1em;
  font-size: large;
}

.btn-secondary:hover {
  border-color: #ced4da !important;
}

.dropdown-pull-right {
  float: right !important;
  right: 0;
  left: auto;
}

.dropdown-pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.MuiContainer-maxWidthXs {
  max-width: 444px;
  background-color: white;
  border-radius: 25px;
  padding-block-end: 1em;
}

.MuiContainer-root {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.MuiAvatar-root {
  margin-top: 1rem !important;
}

.register {
  background-image: url(https://i.pinimg.com/originals/c1/c3/23/c1c323d6e501553c0054d1ede1912d1f.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 950px;
  width: 100%;
}

/* styling for user info display on profile */
#user-info {
  margin: 50px auto;
}

/* Like and comment button styling */
.comment-button,
.like-button {
  border: none;
  background-color: transparent;
  margin-left: none;
}

.fa-heart {
  color: #cc0044;
}

.like-count-display {
  margin-right: 15px;
}

/* Styling for image card*/
.add-comment-display {
  background-color: white;
}

.card-profile-picture-container {
  height: 30px;
  width: 30px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.card-profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling for user info on profile page */
.profile-photo-container {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

#user-info img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  height: 80%;
  object-fit: cover;
}

/* Styling for image card on profile*/
#photo-card-grid .card .photo-container {
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

#photo-card-grid .card .photo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  object-fit: cover;
}

#photo-card-grid .add-comment-display,
#photo-card-grid .description-display,
#photo-card-grid .poster-info-display {
  display: none;
}

.card img {
  width: 100%;
}

/* feed styling */
#feed-list {
  margin: 2em auto auto auto;
}

#feed-list .card {
  margin-bottom: 1.5em;
}
